html, body {
    height: 100%;
    box-sizing: border-box;
    font-family: "Roboto";
    font-size: 14px;
}

*, *:before, *:after {
    box-sizing: inherit;
}
body.homepage{
  background-image: url("final.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.main{
  width:500px;
  margin: auto;
  position: relative;
  top: 20%;
  transform: translateY(-20%);
}
.logo{
  font-size: 50px;
  color: #f7f2ef;
  margin-bottom: 10px;
  margin-top: 0;
}
.tagline{
  font-size: 20px;
  color: #4f4d4b;
}
.button{
  width: 200px;
  background-color: #184ea5;
  color:white;
  border: none;
  padding: 12px 20px;
  border-radius: 10px;
  cursor: pointer;
}
button:hover{
  background-color:#028ef9 ;
  color:white;
  border: 1px;
  border-color: #184ea5;
}

/* For chat page */

.members{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 30%;
  color: #184ea5;
  background-color: white;
}
.user-info{
  font-size: 20px;
  font-family: cursive;
  background:#29487D;
  color: white;

  padding: 10px;
    border-bottom: solid 3px #184ea5;
}
.logout{
  color:white;
  float: right;
  font-size: 20px;
}
.active{
  background: white;
}

.member-list{
  padding: 10px;
  border-bottom: solid 3px #184ea5;
}
.member-list:hover{
  background:#29487D;
  color:white;
  cursor: pointer;
  font-size: 20px;
  font-family: cursive;
}
/*chat area */
.member-area{
  background-color: white;
  position: fixed;
  left: 30%;
  top: 0;
  bottom: 0;
  width: 70%;
  border-left: solid 3px black;
}
.chat-info{
  background-color:#29487D;
  padding: 10px;
  color:white;
  font-family: cursive;
  font-weight: bold;
  font-size: 20px;
}
.member-list.active{
  font-weight: bold;
  font-family: cursive;
  background-color: white;
  color: #184ea5;
  font-size: 15px;

}
.messages{

  background: whitesmoke;
  height: 80%;
  padding: 10px;
  overflow: auto;
}

.me.by-user {
    background: #4DA2CA;
    color: white;
    /* border: solid 3px black; */
    font-style: normal;
    font-family: inherit;
    font-weight: bold;
}

.me {
    background: #E5E5EA;
    color: #29487D;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: solid 3px black;
    font-style: italic;
    font-weight: bold;
    font-family: cursive;
}
.chat-form{
  position: fixed;
  left: 30%;
  bottom:0;
  width:70%;
  background: white;
  padding: 20px;
  border-left: solid 3px black;
}
.chat-message{
  padding: 10px;
  border:solid 3px #29487D;
  border-radius: 4px;
  display: block;
  width:100%;
}
